:root{
    --fondo-color:#181818;
    --items-color:#202020;
    --border-color:#383838;
    --text-color:#e7e7e7;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
.menu {
    background-color: #BEBEBE;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgb(53, 53, 53);
}



nav ul i {
    font-size: 25px;
    margin: 5px 25px;
}

button {
    background: transparent;
    border: none;
    font-size: 25px;
    margin: 5px 25px;
}

main {
    background-color: red;
    width: 100vw;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    overflow: auto;
  }
  
  
  
  
main .left {
    background-color: #DFDFDF;
    overflow: scroll;
    margin-top: 50px;
}

main .left ul {
    width: 100%;
    list-style: none;
}

main .left ul li {
    width: calc(100% - 30px);
    height: 100px;
    margin: 15px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .center {
    background-color: #FFF;
    padding: 25px;
    margin-top: 50px;
}

main .center .box-visor {
    
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .right {
    background-color: #DFDFDF;
    margin-top: 50px;
}

main .right ul {
    width: 100%;
    list-style: none;
}

main .right ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5px;
    cursor: pointer;
}

main .right ul li:hover{
    background-color: #ccc;
}



nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px 20px;
    background-color: var(--items-color);
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    
}



nav span i{
    color:azure;
    font-size: 2.7rem;
    cursor: pointer;
    margin-left: 20px;
}
aside{
    background-color: var(--items-color);
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: 0.5s;
}
aside:hover{
    overflow-y: auto;
}

.desplegar{
    transform: translateX(-100%);
}

aside::-webkit-scrollbar{
    width: 8px;
}

aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}

.container-svg{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color)
}

.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.container-svg div:hover{
    background-color: #303030;
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}



.selected {
    border: 2px solid rgb(51, 51, 51);
}

.mi-div {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: red;
}
    




.mi-clase {
    width: calc(100% - 30px);
    height: 100px;
    margin: 15px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        
}
    

.btn-eliminar {
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}




